h1{
  text-align: center;
  color: antiquewhite; 
}

body{
  background-color: lavender;   
}
.navbar a{
  
  text-decoration: none;
  color: green;
  float: left;
  padding: 10px 44px;
  font-size: 20px;
}
.navbar a:hover {
  background-color: antiquewhite;
}

  
